@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #cdcfc2, #fac4cc);
}


body.no-scroll {
  overflow: hidden;
}

.font-avant-garde {
  font-family: var(--font-avant-garde), sans-serif;
}

.font-avant-garde-condensed {
  font-family: var(--font-avant-garde-condensed), sans-serif;
}

